@model Contributor

<div class="container">
    <h1>History for @Model.FirstName @Model.LastName</h1>
    <h4>Current Balance: @Model.Balance.ToString("C")</h4>
    <br />
    <table style="margin-top: 12px" class="table table-bordered table-hover">
        <tr class="text-center">
            <th>Action</th>
            <th>Date</th>
            <th>Amount</th>
        </tr>
        @foreach (Transaction t in Model.Transactions)
        {
            <tr>
                <td>@t.Action</td>
                <td>@t.Date.ToLongDateString()</td>
                <td>@t.Amount.ToString("C")</td>
            </tr>
        }
    </table>
    <div style="text-align: center; margin-top: 15px;">
        <a href="/home/contributors" class="btn btn-danger">Back to Contributors</a>
    </div>
</div>